SCHEMA_IMAGE=schema:result
SCHEMA_IMAGE_TAR=schema-server-amd64.tar

PORT=4100
HOST=0.0.0.0
SCHEMA_SERVER_SECRET=change-me
SCHEMA_DATA_DIR=/app/data
JAVA_BIN=java
GAUSSDB_JDBC_PROTOCOL=postgresql
GAUSSDB_JDBC_JAR=/app/Schema/server/drivers/lib/gsjdbc4-1.0.jar
